*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local